CompileFlags:
  Add:
    [
      -std=c++23,
      -Wall,
      -Wextra,
      -Wpedantic,
      -Wshadow,
      -Wnon-virtual-dtor,
      -Wold-style-cast,
      -Wcast-align,
      -Wzero-as-null-pointer-constant,
      -Wunused,
      -Woverloaded-virtual,
      -Wconversion,
      -Wsign-conversion,
      -Wfloat-conversion,
      -Wformat=2,
      -Werror=vla,
      -Wmisleading-indentation,
      -Wduplicated-cond,
      -Wduplicated-branches,
      -Wlogical-op,
      -Wnull-dereference,
    ]
