# Locally generated documentation can be replicated with README.adoc
README.html

# C# build directories
bin/
obj/

# Rust compiled files and executables
debug/
target/

# c++ build directory
build/

# nodejs dependencies
node_modules/

# python compiler cache
__pycache__/

